#App {
  position: relative;
}

.header {
  height: 10%;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: space-around;
  z-index: 1;
  background-color: #282c34;
  position: absolute;
}

.navButton {
  display: "block";
  padding: "relative";
}

.log {
  display: "block";
  word-wrap: break-word;
  position: "relative";
  vertical-align: "top";
}

.log-narrans {
  display: block;
  margin-bottom: 15px;
}

.log:after {
  content:"\000A";
  white-space: pre;
}

.log-wrapper {
  display: "block";
  text-align: left;
}

