html, body, #root, #App {
  background-color: #DDC3F8;
  height: 100%;
  width: 100%;
  margin: none; 
  padding: none;
  display: block;
  position: relative;
}

/*
#root {
  height: 100%;
  width: 100%;
}

#App {
  height: 100%;
  width: 100%;
  position: relative;
}
*/

.container {
  color: black;
  position: relative;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
}

header.title {
  top: 0;
  position: relative;
  text-align: left;
}

div.wip {
  background-color: black;
  color: white;
  height: 100%;
  width: 100%;
  position: absolute;
  text-align: center;
  padding-top: 5%;
}

#pp {
  float: right;
}

#aboutpage {
  color: black;
  display: inline-block;
  flex-direction: row;
  text-align: left;
  height: auto;
  width: auto; 
  margin: 5% 15%;
}

.page-container {
  height: 45%;
  width: 45%;
  margin-left: 5%;
  margin-top: 3%;
  margin-bottom: 3%
}

.Latin-links {
  margin-top: 3%;
  margin-bottom: 3%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: table-row;
}

a {
  text-decoration: none;
  color: inherit; 
}

a:visited {
  color: green;
}

h2.project-link {
  height: 40px;
  text-decoration: underline;
}

a.github-link {
  justify-content: center;
  align-items: center;
}

img.github-link {
  height: 32px;
  padding-left: 1%;
  vertical-align: bottom; 

}

.header {
  background-color: inherit;
  color: black;
  /*height: 20%;*/
  width: 100%;
  top: 0;
  bottom: 10;
  display: flex;
  justify-content: space-around;
  z-index: 1;
  position: sticky;
}

a.navLink:visited{
  color: inherit;
}

.navButton:hover {
  animation: fadeIn 0.5s;
  display: flex;
  color: transparent;
  user-select: none;
  
}

.navButton:hover::before {
  animation: fadeIn 0.5s;
  display: flex;
  color: black;
  content: attr(data-hover);
  position: absolute;
  user-select: none;
}

.accordion .accordion-title {
  cursor: pointer;
  user-select: none;
  display: inline-block;
}

.bellows-Latin-verse {
  padding-bottom: 5%;
}

.line-Latin-verse {
  padding-top: 1%;
  padding-bottom: 1%;
}

.bellows-Latin-prose {
  width: 50%;
  padding-bottom: 5%;
}

.log {
  display: "block";
  word-wrap: break-word;
  position: "relative";
  vertical-align: "top";
}

.log-narrans {
  display: block;
  margin-bottom: 15px;
}

.log:after {
  content:"\000A";
  white-space: pre;
}

.log-wrapper {
  display: "block";
  text-align: left;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}