#App {
  position: relative;
}

body {
  background-color: #DDC3F8;
}

.container {
  color: white;
}

a:link {
  text-decoration: none;
}

.header {
  height: 10%;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: space-around;
  z-index: 1;
  position: absolute;
}

.navButton:hover {
  display: flex;
  color: transparent;
  display: "block";
}

.navButton:hover::before {
  display: flex;
  color: black;
  content: attr(data-hover);
  position: absolute;
}

.log {
  display: "block";
  word-wrap: break-word;
  position: "relative";
  vertical-align: "top";
}

.log-narrans {
  display: block;
  margin-bottom: 15px;
}

.log:after {
  content:"\000A";
  white-space: pre;
}

.log-wrapper {
  display: "block";
  text-align: left;
}

